{% extends 'layouts/base_background.html' %}
{% load static %}
{% block css %}
.mt-n6 {
margin-top: 0rem !important;
}
.text-gradient.text-primary {
background-image: linear-gradient(195deg, #021750, #021750);
}
.btn-primary {
--bs-btn-color: #000;
--bs-btn-bg: #f37022;
--bs-btn-border-color: #f37022;
}
.Cd{
border-style: solid;
border-color: #3e4f7a;
border-radius: 9px;
}
marquee {
width: 100%;
height: 100%;
display: block;
}
/* Add this for watermark background */
.watermark-background {
    background-image: url("{% static 'img/IndianOil_background.jpg' %}");
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Controls the opacity of the watermark */
    position: fixed; /* Keeps the background fixed during scrolling */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Sends the image behind other content */
}
.linear-text-gradient {
                background: linear-gradient(to top, #eb6c21, #02154d);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

 .text-success {
    color: #2d332d !important;
}


{% endblock css %}
{% block title %} IOCL | Head Count System {% endblock title %}
{% block body %} class="index-page bg-gray-200" {% endblock body %}
{% block content %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
    var ajaxInterval;

    {% if not form_valid or is_today %}
    ajaxInterval = setInterval(function () {
        $.ajax({
            url: "{% url 'live_data' %}",
            type: 'GET',
            success: function (data) {
               console.log(data);
                if (!data || data.error) {
                    console.log(data.error || 'No data received');
                    return;
                }

                // Update counts
                $('#hazard-in').text(data.hazard_in_count);
                $('#hazard-out').text(data.hazard_out_count);
                $('#hazard-total').text(data.hazard_total);
                $('#non-hazard-in').text(data.non_hazard_in);
                $('#non-hazard-out').text(data.non_hazard_out);
                $('#non-hazard-total').text(data.non_hazard_total);

                // Update live data
                var liveDataHtml = '';
                data.live_data.forEach(function (item) {
                    var machine = item.machine || {};
                    var employee = item.employee || {};
                    var colorStyle = '';

                    if (machine.machineno === '1' || machine.machineno === '5' || machine.machineno === '2' || machine.machineno === '6') {
                        colorStyle = 'background-color:#4CAF50; color: white;';
                    } else if (machine.machineno === '3' || machine.machineno === '7' || machine.machineno === '4' || machine.machineno === '8') {
                        colorStyle = 'background-color:#F44335; color: white;';
                    }

                    liveDataHtml += `
                        <h6 style="${colorStyle} padding: 5px; border-radius: 5px;">
                            ${employee.empcode || 'N/A'} &nbsp; ${employee.Name || 'N/A'} 
                            &nbsp;&nbsp;&nbsp;&nbsp; ${machine.Name || 'N/A'} ${machine.Response || ''}
                        </h6>`;
                });

                $('#live-data-container').html(liveDataHtml);
            },
            error: function (xhr, status, error) {
                console.error('Error occurred:', error);
            },
        });
    }, 5000);
    {% endif %}
});

</script>
</div></div></div>
{% load static %}
<div class="watermark-background"></div>
<div class=" mx-3 mx-md-4 mt-n6" style="padding: 0px;border-radius: 10px;font-size: 24px;box-shadow: 2px 4px 29px 2px #e6d2ad;">
   <b class="text-center text-success" style="font-size: 42px">
      <img src="{% static 'img/indianOil.png' %}" width="20%">GATE WISE HEAD COUNT DISPLAY BALASORE BP AS ON&nbsp; &nbsp; 
      <form method="post" style="display:inline;">
         {% csrf_token %}
         {{ form.selected_date }}
         <button type="submit" class="btn btn-sm bg-gradient-success" style="margin-top: 25px;height: 100%;width: 5%;height: 45px;">Refresh</button>
      </form>
   </b>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-9 col-12">
             <section class="Cd pt-3 pb-4" id="count-stats">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 mx-auto py-4">
               <div  style="border: 5px solid transparent;border-image: linear-gradient(#01154d, #eb6c21) 1; border-radius: 21px; padding: 10px; position: relative;">
                  <h2 style=" font-size:48px;position: absolute; top: -35px; left: 50%; transform: translateX(-50%); background-color: white; padding: 0 10px; color: #4caf50;">NON HAZARDOUS AREA</h2>
                  <div class="row">
                     <div class="col-md-3 position-relative">
                        <div class="p-2 text-center">
                           <h1 class="text-gradient text-primary"><img src="{% static 'img/head.png' %}"style="width: 38%;"></h1>
                           <div >
                              
                              <h4 class="text-gradient text-primary" style="
    font-size: 40px;
"></i>MAIN GATE</h4>
                           </div>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3 position-relative">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary" style="
    font-size: 69px;"><i class="fas fa-users"></i></h1>
                           <h5 class="mt-3" style="font-size: 30px;">TOTAL HEAD COUNT</h5>
                           <a href="list/MAIN GATE TOTAL HEAD COUNT" target="_blank" class="btn btn-icon btn-2 bg-gradient-success" style="width: 145px;margin-top:13px;height: 60px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                           <b style="font-size: 30px;" id="non-hazard-total">{{ non_hazard_total }}</b>
                           </a>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3 position-relative">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary"style="
    font-size: 69px;" ><i class="far fa-arrow-alt-circle-right"></i></h1>
                           <h5 class="mt-3" style="
    font-size: 40px;
">IN</h5>
                           <a href="list/MAIN GATE IN" target="_blank" class="btn btn-icon btn-2 bg-gradient-success"style="width: 145px;height: 60px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top: 3px;">
                           <b style="font-size: 30px;" id="non-hazard-in">{{ non_hazard_in }}</b>
                           </a>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary"style="
    font-size: 69px;" ><i class="far fa-arrow-alt-circle-left"></i></h1>
                           <h5 class="mt-3" style="
    font-size: 40px;
">OUT</h5>
                           <a href="list/MAIN GATE OUT" target="_blank" class="btn btn-icon btn-2 bg-gradient-success"style="width: 145px;height: 60px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top: 3px;">
                           <b style="font-size: 30px;" id="non-hazard-out">{{ non_hazard_out }}</b>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!--  -->
               <br>
               <div style="margin-top: 12px;border: 5px solid transparent;border-image: linear-gradient(#01154d, #eb6c21) 1; border-radius: 21px; padding: 16px; position: relative;">
                  <h2 style="font-size:48px;position: absolute; top: -35px; left: 50%; transform: translateX(-50%); background-color: white; padding: 0 10px; color: #f44335;">HAZARDOUS AREA</h2>
                  <div class="row">
                     <div class="col-md-3 position-relative">
                        <div class="p-3 text-center">
                           <div >
                              <h4 class="text-gradient text-primary" style="
    font-size: 40px;"></i>GATE3</h4>
                           </div>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3 position-relative">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary"></h1>
                           <!--   <h5 class="mt-3">TOTAL HEAD COUNT</h5> -->
                           <a href="list/GATE3 TOTAL HEAD COUNT" target="_blank" class="btn btn-icon btn-2 btn btn-danger" style="width: 145px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height: 60px;">
                           <b style="font-size: 30px;" id="hazard-total">{{ hazard_total }}</b>
                           </a>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3 position-relative">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary" ></h1>
                           <!--   <h5 class="mt-3">IN</h5> -->
                           <a href="list/GATE3 IN" target="_blank" class="btn btn-icon btn-2 btn btn-danger"style="width: 145px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height: 60px;" >
                           <b style="font-size: 30px;" id="hazard-in">{{ hazard_in_count }}</b>
                           </a>
                        </div>
                        <hr class="vertical dark">
                     </div>
                     <div class="col-md-3">
                        <div class="p-3 text-center">
                           <h1 class="text-gradient text-primary" ></h1>
                           <!-- <h5 class="mt-3">OUT</h5> -->
                           <a href="list/GATE3 OUT" target="_blank" class="btn btn-icon btn-2 btn btn-danger"style="width: 145px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height: 60px;" >
                           <b style="font-size: 30px;" id="hazard-out">{{ hazard_out_count }}</b>
                           </a>
                        </div>
                     </div>
                     <!--  -->
                  </div>
               </div>
               <!--  -->
            </div>
         </div>
      </div>
</section>
         </div>
         <div class="col-md-3 col-12">
             <img src="{% static 'img/notification.png' %}" width="30%" style="margin-top:-148px; margin-left: 100px; text-align: center;">
                <div id="live-data-container" style="height: 700px;">
        {% for item in data %}
            {% if item.machine.machineno == '1' or item.machine.machineno == '5' %}
            <h6 style="background-color:#4CAF50; color: white; padding: 5px; border-radius: 5px;">{{ item.employee.empcode }}&nbsp;{{ item.employee.Name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.machine.Name }} {{ item.machine.Response }}</h6>
            {% elif item.machine.machineno == '2' or item.machine.machineno == '6' %}
            <h6 style="background-color:#4CAF50; color: white; padding: 5px; border-radius: 5px;">{{ item.employee.empcode }}&nbsp;{{ item.employee.Name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.machine.Name }} {{ item.machine.Response }}</h6>
            {% elif item.machine.machineno == '3' or item.machine.machineno == '7' %}
            <h6 style="background-color:#F44335; color: white; padding: 5px; border-radius: 5px;">{{ item.employee.empcode }}&nbsp;{{ item.employee.Name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.machine.Name }}{{ item.machine.Response }}</h6>
            {% elif item.machine.machineno == '4' or item.machine.machineno == '8' %}
            <h6 style="background-color:#F44335; color: white; padding: 5px; border-radius: 5px;">{{ item.employee.empcode }}&nbsp;{{ item.employee.Name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.machine.Name }}{{ item.machine.Response }}</h6>
            {% endif %}
        {% endfor %}
    </div>
            
      </div>
   </div>
  

</div>
<!-- <p>{{ context }}</p> -->
{% endblock content %}
{% block javascripts %}
<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
   setInterval(function() {
     $.ajax({
         url: "{% url 'home' %}",
         success: function(data) {
             // Update the page content without refreshing
         }
     });
   }, 2000);  // Makes an AJAX call every 5 seconds
   
</script>
<script type="text/javascript">
   if (document.getElementById('state1')) {
     const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
     if (!countUp.error) {
       countUp.start();
     } else {
       console.error(countUp.error);
     }
   }
   if (document.getElementById('state2')) {
     const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
     if (!countUp1.error) {
       countUp1.start();
     } else {
       console.error(countUp1.error);
     }
   }
   if (document.getElementById('state3')) {
     const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
     if (!countUp2.error) {
       countUp2.start();
     } else {
       console.error(countUp2.error);
     };
   }
</script>
{% endblock javascripts %}